<hr>
<footer>
    <div class="container">
        <p>&copy; <a href="https://linkedin.com/in/vkgupta857" title="Go to LinkedIn" target="_blank">Vinod Kumar
                Gupta</a>. All rights reserved. <span class="float-md-right"> This app is <b>responsive</b> for mobile devices.</span></p>
    </div>
</footer>